<div class="container text-center mb-3">
  <h1><%= @post.title %></h1>

  <%= image_tag @post.picture.url, width: '80%', style: 'min-width: 400px;' %>

  <h5 class="mt-2">
    <% @post.description.to_s.split.each do |word| %>
      <% if word[0] == '#' and (1..31).include? word.length %>
        <%= link_to word, hashtag_path(word[1..].downcase) %>
      <% else %>
        <%= word %>
      <% end %>
    <% end %>
  </h5>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', profile_path(@post.user.nickname) %>
</div>