<div class="container text-center mb-3">
  <h1><%= @post.title %></h1>

  <h2>By <%= link_to @post.user.nickname, profile_path(@post.user.nickname) %></h2>

  <%= react_component 'LikeableImage', 
  imageUrl: @post.picture.url, 
  postJsonUrl: post_url(@post) + '.json',
  createLikeUrl: create_like_url(@post),
  isLiked: is_liked?(@post),
  destroyLikeUrl: destroy_like_url(@post),
  csrfToken: form_authenticity_token,
  style: { width: '80%' } %>

  <h5 class="mt-2">
    <% @post.description.to_s.split.each do |word| %>
      <% if word[0] == '#' and (1..31).include? word.length %>
        <%= link_to word, hashtag_path(word[1..].downcase) %>
      <% else %>
        <%= word %>
      <% end %>
    <% end %>
  </h5>

  <%= button_to 'Edit', edit_post_path(@post), method: :get,
  class: 'btn btn-lg btn-primary' if is_author?(@post) %>

  <hr>

  <h2>New Comment:</h2>

  <%= form_with(url: post_create_comment_url(@post)) do |form| %>
    <div class="form-group">
      <%= form.text_field :content, placeholder: 'Content', class: 'form-control' %>
    </div>
    <%= form.submit class: 'btn btn-primary', value: 'Post Comment' %>
  <% end %>

  <hr>

  <%= react_component 'Comments',
  commentsJsonUrl: post_comments_url(@post) + '.json',
  csrfToken: form_authenticity_token,
  currentUserNickname: current_user.nickname,
  deleteCommentUrl: destroy_comment_url %>

</div>