<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + ' | '  unless yield(:title).blank?).to_s + SITE_NAME %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand ml-2" href="<%= index_path %>"><%= SITE_NAME %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Link one</a>
              </li>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link" href="<%= logout_path %>">Logout</a>
              </li>  
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="<%= login_path %>">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= register_path %>">Register</a>
              </li>
            <% end %>
          </ul>
      </div>
    </nav>
    <% if notice %>
      <%= react_component 'Notice', notice: notice %>
    <% end %>
    <div class="container-fluid mt-3">
      <%= yield %>
    </div>
  </body>
</html>
